<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-5 text-center">Все заказы</h2>

        <!-- Вывод flash-сообщений -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }} mt-4">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <h3>Заказы всех клиентов</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>ID клиента</th>
                    <th>Статус</th>
                    <th>Дата заказа</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id_order }}</td>
                    <td>{{ order.client_id }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.order_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
